<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--    扫包-->
    <context:component-scan base-package="com.zf.service"/>

    <!--    将业务类注入到spring，可以通过配置或者注解实现-->


    <bean id="UserServiceImpl" class="com.zf.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="DetailServiceImpl" class="com.zf.service.DetailServiceImpl">
        <property name="detailMapper" ref="detailMapper"/>
    </bean>

    <bean id="ArticleServiceImpl" class="com.zf.service.ArticleServiceImpl">
        <property name="articleMapper" ref="articleMapper"/>
    </bean>
    <bean id="CommentServiceImpl" class="com.zf.service.CommentServiceImpl">
        <property name="commentsMapper" ref="commentsMapper"/>
    </bean>


    <!--    事务-->

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--        注入数据源 -->

        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--    AOP 配置事务-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!--        给那些方法配置事务-->
        <!--        配置事务的传播特性: new propagation = required-->
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

<!--    &lt;!&ndash;   配置事务切入&ndash;&gt;-->
<!--    <aop:config>-->
<!--        <aop:pointcut id="txPointCut" expression="execution(* com.zf.dao.*.*(..))"/>-->
<!--        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>-->
<!--    </aop:config>-->
</beans>